/* .cmin-height { */
/*   height: 105px; } */
 
/* @media only screen and (min-width: 768px) { */
/* 	#apresentacaoPorStatus>.owl-stage-outer>.owl-stage>.owl-item { */
/* 		display: inline-grid; */
/* 		float: none; */
/* 	} */
/* } */

/* .owl-wrapper { */
/*     margin: 0 auto; */
/* } */

/* .owl-stage{ */
/*     margin: 0 auto; */
/* } */

.item {
	height: 100%;
}

.item h5 {
	height: 45px;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
} 
