<!-- <footer sec:authorize="hasAuthority('MASTER') || hasAuthority('GRAFICOS-VISAO-GERAL')" class="footer ml-0" th:fragment="footer">
		<div class="col text-center"> © 2018 - Desenvolvido por STELECOM/SSP</div>
</footer>

<footer sec:authorize="not hasAuthority('MASTER') AND not hasAuthority('GRAFICOS-VISAO-GERAL')" class="footer" th:fragment="footer">
		<div class="col text-center"> © 2018 - Desenvolvido por STELECOM/SSP</div>
</footer> -->

<footer sec:authorize="hasAuthority('MASTER')" class="footer ml-0" th:fragment="footer">
	
	<!-- ***************************************************** -->
	
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 text-center">&copy; 2018 - 2020 STELECOM</div>
<!-- 			<div class="col-4 font-weight-bold" style="font-size:10px;">Desenvolvido por: CICOM COSTA DO DESCOBRIMENTO</div>
 -->		</div>
		<div class="row">
	<!-- 		<div class="col-12 text-center">
				<h6><font class="font-weight-bold">Tel:</font>&ensp;73 3162-7796&ensp;&ensp;<font class="font-weight-bold">Ramal:</font>&ensp;419 203&ensp;&ensp;<font class="font-weight-bold">Whatsapp:</font>&ensp;<i class="fab fa-whatsapp"></i>&ensp;71 99712-9541</h6>
			</div> -->
		</div>
<!-- ******************************************************************* -->

<!-- <div class="col text-center">&copy; 2018 - 2020 STELECOM  <font class="font-weight-bold"  style="font-size:10px; text-align: right;">Desenvolvido por: CICOM COSTA DO DESCOBRIMENTO</font>
<h6><font class="font-weight-bold">Tel:</font>&ensp;73 3162-7796&ensp;&ensp;<font class="font-weight-bold">Ramal:</font>&ensp;419 203&ensp;&ensp;<font class="font-weight-bold">Whatsapp:</font>&ensp;<i class="fab fa-whatsapp"></i>&ensp;71 99712-9541</h6>
</div> -->




		<!-- <div class="col text-center"> © 2018 - Desenvolvido por STELECOM/SSP</div> -->
<!-- 		<div class="col text-center"> Suporte - <i class="fab fa-whatsapp"></i>(71) 99712-9541 / (73) 3162-7796  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;   © 2018 - Desenvolvido por STELECOM Costa do Descobrimento.</div> -->
</footer>

<footer sec:authorize="not hasAuthority('MASTER')" class="footer" th:fragment="footer">

<!-- ***************************************************** -->
	
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 text-center">&copy; 2018 - 2020 STELECOM</div>
<!-- 			<div class="col-4 font-weight-bold" style="font-size:10px;">Desenvolvido por: CICOM COSTA DO DESCOBRIMENTO</div>
 -->		</div>
<!-- 	 	<div class="row">
			<div class="col-12 text-center">
				<h6><font class="font-weight-bold">Tel:</font>&ensp;73 3162-7796&ensp;&ensp;<font class="font-weight-bold">Ramal:</font>&ensp;419 203&ensp;&ensp;<font class="font-weight-bold">Whatsapp:</font>&ensp;<i class="fab fa-whatsapp"></i>&ensp;71 99712-9541</h6>
			</div>
		</div>  -->
<!-- ******************************************************************* -->


		<!-- <div class="col text-center"> © 2018 - Desenvolvido por STELECOM/SSP</div> -->
<!-- 		<div class="col text-center"> Suporte - <i class="fab fa-whatsapp"></i>(71) 99712-9541 / (73) 3162-7796  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;   © 2018 - Desenvolvido por STELECOM Costa do Descobrimento.</div> -->
</footer>