<section layout:fragment="content" layout:decorate="~{/fragmentos/layout}">
	<main>
		<div class="container-fluid">			
			<div class="row page-titles">
				<div class="col-md-12 align-self-center">
				    <h4 class="text-center" style="font-family:arial; font-size:20px;">Bem vindo ao menu de ajuda do COMUNICA</h4>
				</div>				
			</div>			
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8 align-center">
					<form id="formServidor" name="form1" class="form-servidor" method="POST" >					
						<div class="ribbon-wrapper card">
						<h6 style="font-family:arial; font-size:24px;" class="text-center">Apresentaremos abaixo dicas para utilização do módulo de gestão de efetivo:</h6><br>
							<div class="ribbon ribbon-info text-center" style="font-family:arial; font-size:18px;"><font class="font-weight-bold">MÓDULO DE GESTÃO DE EFETIVO</font></div>							
							<div class="form-row">
								<div class="form-group col-md-12">
									<div id="box-toggle">
										<div class="tgl">	
											<h6 class="text-justify" style="font-family:arial; font-size:16px;"><br>
											O módulo gestão de efetivo é acessível aos operadores de teledespacho, 
											coordenadores adjuntos e coordenadores dos CICOM’S. Neste módulo os operadores de 
											teledespacho poderão realizar o lançamento do efetivo de serviço do CICOM, 
											como criar o mapa de efetivo e/ou guarnições de serviço naquele turno e/ou jornada.<br>
											
											<!-- INFORMAÇÕES REFERENTES AO CADASTRO DE UMA MESA -->
											
											<div class="novaMesa">
											
												<p class="text-justify font-weight-bold" style="color:#0075e3;"><br>A seguir serão mostrados os passos necessários para 
																																cadastro de abertura da mesa de serviço, bem como a inclusão dos servidores.<br></p>	
																			
												<!-- ********************************************************************************************************* -->
												
													<figure>
														<figcaption><font class="font-weight-bold">Figura 1: Tela do menu lateral com a opção Nova Mesa selecionado</font></figcaption>
															<br><img src="/assets/imagens/tutorial/efetivo/menuEfetivoNovaMesa.png"><br>																											
													</figure>
													<p class="text-justify"><br>A figura 1 representa o menu principal do módulo de gestão de efetivo disposto na lateral esquerda da tela. Clicando no link <font class="font-weight-bold"> 
																				Nova Mesa</font> você será redirecionado para tela de cadastro do efetivo interno conforme figura 2.<br></p>
																				
												<!-- ********************************************************************************************************* -->
													
													<figure>
														<figcaption><font class="font-weight-bold">Figura 2: Tela para cadastro de abertura de uma Nova Mesa</font></figcaption>	
															<br><img src="/assets/imagens/tutorial/efetivo/telaCadastro1.png" style="width:100%"><br>														
													</figure>
													<p class="text-justify"><br>A figura 2 representa a tela de cadastro de efetivo interno. Nesta tela o servidor
																				deverá
																				realizar o preenchimento da data e hora que inicia e finaliza o plantão, bem como selecionar as instituições
																				que irão compor o efetivo. Em seguida deverão clicar no botão <font class="font-weight-bold"> 
																				Adicionar Servidores</font> onde abrirá uma lista contendo todos os servidores 
																				internos do CICOM conforme figura 3.													
													</p>													
																										
												<!-- ********************************************************************************************************* -->
													<figure>													
														<figcaption><font class="font-weight-bold">Figura 3: Tela de exibição com a lista dos servidores do CICOM</font></figcaption>
															<br><img src="/assets/imagens/tutorial/efetivo/modalServidor.png" style="width:100%"><br>														
													</figure>
													<p class="text-justify">A figura 3 representa todos os servidores do CICOM. O operador deverá inicialmente selecionar aqueles servidores que estarão
																			de serviço para compor a mesa e posteriormente deverá clicar no botão <font class="font-weight-bold"> Adicionar</font>
																			localizado no canto inferior direito da tela.</p>
												
												<!-- ********************************************************************************************************* -->
													<figure>													
														<figcaption><font class="font-weight-bold">Figura 4: Tela de exibição após inclusão dos servidores na mesa</font></figcaption>
															<br><img src="/assets/imagens/tutorial/efetivo/telaCadastro2.png" style="width:100%"><br>														
													</figure>
													<p class="text-justify">A figura 4 representa a tela com os servidores que foram selecionados e que estão compondo a mesa de serviço. 
																			Após verificar se os dados foram preenchidos corretamente, o servidor deverá clicar no botão  
																			<font class="font-weight-bold"> Salvar</font> para confirmar a abertura da mesa.</p>
											</div>
											
												<!-- INFORMAÇÕES REFERENTES AO HISTÓRICO DE MESA -->
												
											<div class="historicoMesa">
											
												<p class="text-justify font-weight-bold" style="color:#0075e3;"><br>A seguir serão mostrados as funcionalidades referentes ao
																						histórico de mesa, onde poderão ser realizadas algumas ações
																						em cada mesa cadastrada<br></p>
											
												<!-- ********************************************************************************************************* -->
													<figure>
														<figcaption><font class="font-weight-bold">Figura 1: Tela do menu lateral com a opção Histórico de Mesas selecionado</font></figcaption>
															<br><img src="/assets/imagens/tutorial/efetivo/menuEfetivoHistorico.png"><br>																											
													</figure>
													<p class="text-justify"><br>A figura 1 representa o menu principal do módulo de gestão de efetivo disposto na lateral 
																				esquerda da tela. Clicando no link <font class="font-weight-bold"> 
																				Histórico de Mesas</font> você será redirecionado para uma tela 
																				contendo a lista de todas as mesas cadastradas conforme figura 2.<br></p>
																				
												<!-- ********************************************************************************************************* -->
													<figure>													
														<figcaption> <font class="font-weight-bold">Figura 2: Tela mostrando as mesas ativas e inativas cadastradas no sistema</font><br></figcaption>
															<br><img src="/assets/imagens/tutorial/efetivo/historico1.png" style="width:100%"><br>														
													</figure>
													<p class="text-justify"><br>A figura 2 representa a tela contendo a lista com todas as mesas de serviços que foram criadas no sistema.</p> 
																				
												<!-- ********************************************************************************************************* -->
													<figure>													
														<figcaption><font class="font-weight-bold">Figura 3: Tela de funcionalidades do botão ação</font><br></figcaption>
															<br><img src="/assets/imagens/tutorial/efetivo/historicoAcao.png" style="width:100%"><br>														
													</figure>
													<p class="text-justify"><br>A figura 3 representa a lista de ações que podem ser realizadas
																				nas mesas cadastradas. O operador de teledespacho ao clicar no botão <font class="font-weight-bold"> Ação</font> 
																				será aberta uma lista de funcionalidades:  
																				editar(efetivo interno e externo), visualizar (efetivo interno e externo) e imprimir (efetivo interno e externo).</p>
																				
												<!-- ********************************************************************************************************* -->
													
													<figure>													
														<figcaption><font class="font-weight-bold">Figura 4: Tela para edição da mesa</font><br></figcaption>
															<br><img src="/assets/imagens/tutorial/efetivo/editarEfetivoInterno.png" style="width:100%"><br>														
													</figure>
													<p class="text-justify">A figura 4 representa a tela para edição da mesa de serviço. Poderão ser alterados 
																			os campos de data e hora, a seleção das instituições, bem como a remoção
																			ou adição dos servidores internos. Após realizadas as alterações o operador de teledespacho deverá clicar no botão<font class="font-weight-bold"> Salvar Alteração</font></p>												
											
													
												<!-- ********************************************************************************************************* -->
													
													<figure>													
														<figcaption><font class="font-weight-bold">Figura 5: Tela com a lista do efetivo externo diário disponível</font><br></figcaption>
															<br><img src="/assets/imagens/tutorial/efetivo/listaHistoricoEfetivoExterno.png" style="width:100%"><br>														
													</figure>
													<p class="text-justify">A figura 5 representa a tela com a lista do efetivo externo 
																			disponível. Para adicionar um novo efetivo basta clicar no 
																			botão <font class="font-weight-bold">Adicionar Novo</font>
																			e será redirecionado para tela de cadastro conforme figura 6.</p>
													
												<!-- ********************************************************************************************************* -->
													
													<figure>													
														<figcaption><font class="font-weight-bold">Figura 6: Tela para cadastro efetivo externo</font><br></figcaption>
															<br><img src="/assets/imagens/tutorial/efetivo/guarnicao.png" style="width:100%"><br>														
													</figure>
													<p class="text-justify">A figura 6 representa a tela para cadastro do efetivo externo.
																			Preencha todos os campos do formulário e clique no botão 
																			<font class="font-weight-bold">Salvar</font><br></p>
											</div>
											
											<!-- INFORMAÇÕES REFERENTES A PESQUISA DE MESA -->
											
											
											<div class="pesquisarMesa">
												
												<p class="text-justify text-center font-weight-bold" style="color:#0075e3;"><br>A seguir mostraremos os passos necessários para 
																																pesquisar uma mesa.<br></p>	
											
												<figure>													
													<figcaption><font class="font-weight-bold">Figura 1: Tela para realização de pesquisa da mesa</font><br></figcaption>
														<br><img src="/assets/imagens/tutorial/efetivo/pesquisarMesa.png" style="width:100%">														
												</figure>
												<p class="text-justify"><br>A figura 1 representa a tela que permite realizar a busca de uma
																			determinada mesa. Basta preencher um ou mais campos para realizar a busca e 
																		    clicar no botão <font class="font-weight-bold">Buscar</font> e 
																		    será exibida uma lista com o resultado da pesquisa.</p>									
											</div>							
										</div>
									</div>
								</div>	
							</div>
							<h6 style="font-family:arial; font-weight:bold;" class="text-center">Caso nenhuma das opções acima tenha te ajudado, entre em contato com nosso suporte.</h6><br>
							<h6 style="font-family:arial;" class="text-center">Tel:&ensp;73 3162-7796 / Ramal:&ensp;419 203 / Whatsapp:&ensp;<i class="fab fa-whatsapp"></i>&ensp;71 99712-9541
							<br>E-mail: comunica.cicom@ssp.ba.gov.br</h6>
						</div>					  					 						  	
					</form>	
				</div>
			</div>
		</div>
	 </main>	
</section>
<!-- Função de recolher formulario de contato -->

<script>
jQuery.fn.toggleText = function(a,b) {
		return   this.html(this.html().replace(new RegExp("("+a+"|"+b+")"),function(x){return(x==a)?b:a;}));		
}
	$(document).ready(function(){
		/* $('.tgl').before('<span><a href="#"></br><font color=blue>Informações referente ao efetivo:</br></font></a></span>');
		$('.tgl').css('display', 'none', 'pointer') */
		$('.novaMesa').before('<span><a href="#"></br><font color=blue>Cadastro de nova mesa;</br></font></a></span>');
		$('.novaMesa').css('display', 'none')
		$('.historicoMesa').before('<span><a href="#"></br><font color=blue>Histórico de mesa;</br></font></a></span>');
		$('.historicoMesa').css('display', 'none')
		$('.pesquisarMesa').before('<span><a href="#"></br><font color=blue>Pesquisar mesa;</br></font></a></span>');
		$('.pesquisarMesa').css('display', 'none')
		$('span', '#box-toggle').click(function() {
		$(this).next().slideToggle('slow')
		.siblings('.tgl:visible').slideToggle('fast');

	// aqui começa o funcionamento do plugin

		$(this).toggleText('more »','« less')
		.siblings('span').next('.tgl:visible').prev()
		.toggleText('more »','« less')
	});
})

</script> 