<section layout:fragment="content" layout:decorate="~{/fragmentos/layout}">
	<div class="container-fluid">
		<!-- INICIO TITULO DA PÁGINA -->
		<div class="row page-titles">
			<div class="col-md-5 align-self-center">
				<h4 class="text-themecolor">MENSAGENS</h4>
			</div>
			<div class="col-md-7 align-self-center text-right">
				<div class="d-flex justify-content-end align-items-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Início</a></li>
						<li class="breadcrumb-item active">MENSAGENS</li>
					</ol>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="row">
						<div class="col-lg-2 col-md-4">
							<div class="card-body inbox-panel">
								<a href="./nova" class="btn btn-danger m-b-20 p-10 btn-block waves-effect waves-light">Criar Mensagem</a>
								<ul class="list-group list-group-full">
									<li class="list-group-item active">
										<a href="javascript:void(0)"><i class="mdi mdi-gmail"></i> Recebidas</a>  <span class="badge badge-success ml-auto">6</span>
									</li>
									<li class="list-group-item">
										<a href="javascript:void(0)"><i class="mdi mdi-send"></i> Criadas</a>  <span class="badge badge-danger ml-auto">3</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-10 col-md-8 bg-light border-left">
							<div class="card-body">
								<div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
									<button type="button" class="btn btn-secondary font-18">
										<i class="mdi mdi-delete"></i>
									</button>
								</div>
								<div class="btn-group" role="group">
									<button id="btnGroupDrop1" type="button" class="btn m-b-10 btn-secondary font-18 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opções</button>
									<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
										<a class="dropdown-item" href="javascript:void(0)">Todas</a>
										<a class="dropdown-item" href="javascript:void(0)">Apenas Não lidas</a>
										<a class="dropdown-item" href="javascript:void(0)">Apenas Lidas</a>
									</div>
								</div>
							</div>
							<div class="card-body p-t-0">
								<div class="card b-all shadow-none">
									<div class="inbox-center table-responsive">
										<table class="table table-hover no-wrap">
											<tbody>
												<tr class="unread">
													<td style="width: 40px">
														<div class="custom-control custom-checkbox mr-sm-2">
															<input type="checkbox" class="custom-control-input" id="checkbox0" value="check">
															<label class="custom-control-label" for="checkbox0"></label>
														</div>
													</td>
													<td style="width: 40px" class="hidden-xs-down"><i class="fa fa-star-o"></i></td>
													<td class="hidden-xs-down">Hritik Roshan</td>
													<td class="max-texts"><a href="app-email-detail.html" /><span class="label label-info m-r-10">Work</span> Lorem ipsum perspiciatis unde omnis iste natus error sit voluptatem</td>
													<td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
													<td class="text-right">12:30 PM</td>
												</tr>
												<tr class="unread">
													<td>
														<div class="custom-control custom-checkbox mr-sm-2">
															<input type="checkbox" class="custom-control-input" id="checkbox1" value="check"> <label class="custom-control-label" for="checkbox1"></label>
														</div>
													</td>
													<td class="hidden-xs-down"><i class="fa fa-star text-warning"></i></td>
													<td class="hidden-xs-down">Genelia Roshan</td>
													<td class="max-texts"><a href="app-email-detail.html">Lorem ipsum perspiciatis unde omnis iste natus error sit voluptatem</a></td>
													<td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
													<td class="text-right">May 13</td>
												</tr>
												<tr class="unread">
													<td>
														<div class="custom-control custom-checkbox mr-sm-2">
															<input type="checkbox" class="custom-control-input"
																id="checkbox2" value="check"> <label
																class="custom-control-label" for="checkbox2"></label>
														</div>
													</td>
													<td class="hidden-xs-down"><i class="fa fa-star-o"></i></td>
													<td class="hidden-xs-down">Ritesh Deshmukh</td>
													<td class="max-texts"><a href="app-email-detail.html"><span
															class="label label-success">Elite</span> Lorem ipsum
															perspiciatis unde omnis iste natus error sit voluptatem</a></td>
													<td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
													<td class="text-right">May 12</td>
												</tr>
												<tr>
													<td>
														<div class="custom-control custom-checkbox mr-sm-2">
															<input type="checkbox" class="custom-control-input"
																id="checkbox3" value="check"> <label
																class="custom-control-label" for="checkbox3"></label>
														</div>
													</td>
													<td class="hidden-xs-down"><i class="fa fa-star-o"></i></td>
													<td class="hidden-xs-down">Akshay Kumar</td>
													<td class="max-texts"><a href="app-email-detail.html"><span
															class="label label-warning">Work</span> Lorem ipsum
															perspiciatis unde omnis iste natus error sit voluptatem</a></td>
													<td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
													<td class="text-right">May 12</td>
												</tr>
												<tr>
													<td>
														<div class="custom-control custom-checkbox mr-sm-2">
															<input type="checkbox" class="custom-control-input"
																id="checkbox4" value="check"> <label
																class="custom-control-label" for="checkbox4"></label>
														</div>
													</td>
													<td class="hidden-xs-down"><i class="fa fa-star-o"></i></td>
													<td class="hidden-xs-down">Hritik Roshan</td>
													<td class="max-texts"><a href="app-email-detail.html"><span
															class="label label-info m-r-10">Work</span> Lorem ipsum
															perspiciatis unde omnis iste natus error sit voluptatem</a></td>
													<td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
													<td class="text-right">May 12</td>
												</tr>
												<tr>
													<td>
														<div class="custom-control custom-checkbox mr-sm-2">
															<input type="checkbox" class="custom-control-input"
																id="checkbox5" value="check"> <label
																class="custom-control-label" for="checkbox5"></label>
														</div>
													</td>
													<td class="hidden-xs-down"><i
														class="fa fa-star text-warning"></i></td>
													<td class="hidden-xs-down">Genelia Roshan</td>
													<td class="max-texts"><a href="app-email-detail.html">Lorem
															ipsum perspiciatis unde omnis iste natus error sit
															voluptatem</a></td>
													<td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
													<td class="text-right">May 11</td>
												</tr>
												<tr>
													<td>
														<div class="custom-control custom-checkbox mr-sm-2">
															<input type="checkbox" class="custom-control-input"
																id="checkbox6" value="check"> <label
																class="custom-control-label" for="checkbox6"></label>
														</div>
													</td>
													<td class="hidden-xs-down"><i class="fa fa-star-o"></i></td>
													<td class="hidden-xs-down">Ritesh Deshmukh</td>
													<td class="max-texts"><a href="app-email-detail.html"><span
															class="label label-success">Elite</span> Lorem ipsum
															perspiciatis unde omnis iste natus error sit voluptatem</a></td>
													<td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
													<td class="text-right">May 11</td>
												</tr>
												<tr>
													<td>
														<div class="custom-control custom-checkbox mr-sm-2">
															<input type="checkbox" class="custom-control-input"
																id="checkbox7" value="check"> <label
																class="custom-control-label" for="checkbox7"></label>
														</div>
													</td>
													<td class="hidden-xs-down"><i class="fa fa-star-o"></i></td>
													<td class="hidden-xs-down">Akshay Kumar</td>
													<td class="max-texts"><a href="app-email-detail.html"><span
															class="label label-warning">Work</span> Lorem ipsum
															perspiciatis unde omnis iste natus error sit voluptatem</a></td>
													<td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
													<td class="text-right">May 11</td>
												</tr>
												<tr>
													<td>
														<div class="custom-control custom-checkbox mr-sm-2">
															<input type="checkbox" class="custom-control-input"
																id="checkbox8" value="check"> <label
																class="custom-control-label" for="checkbox8"></label>
														</div>
													</td>
													<td class="hidden-xs-down"><i class="fa fa-star-o"></i></td>
													<td class="hidden-xs-down">Hritik Roshan</td>
													<td class="max-texts"><a href="app-email-detail.html"><span
															class="label label-info m-r-10">Work</span> Lorem ipsum
															perspiciatis unde omnis iste natus error sit voluptatem</a></td>
													<td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
													<td class="text-right">May 10</td>
												</tr>
												<tr>
													<td>
														<div class="custom-control custom-checkbox mr-sm-2">
															<input type="checkbox" class="custom-control-input"
																id="checkbox9" value="check"> <label
																class="custom-control-label" for="checkbox9"></label>
														</div>
													</td>
													<td class="hidden-xs-down"><i
														class="fa fa-star text-warning"></i></td>
													<td class="hidden-xs-down">Genelia Roshan</td>
													<td class="max-texts"><a href="app-email-detail.html">Lorem
															ipsum perspiciatis unde omnis iste natus error sit
															voluptatem</a></td>
													<td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
													<td class="text-right">May 10</td>
												</tr>
												<tr>
													<td>
														<div class="custom-control custom-checkbox mr-sm-2">
															<input type="checkbox" class="custom-control-input"
																id="checkbox10" value="check"> <label
																class="custom-control-label" for="checkbox10"></label>
														</div>
													</td>
													<td class="hidden-xs-down"><i class="fa fa-star-o"></i></td>
													<td class="hidden-xs-down">Ritesh Deshmukh</td>
													<td class="max-texts"><a href="app-email-detail.html"><span
															class="label label-success">Elite</span> Lorem ipsum
															perspiciatis unde omnis iste natus error sit voluptatem</a></td>
													<td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
													<td class="text-right">May 10</td>
												</tr>
												<tr>
													<td>
														<div class="custom-control custom-checkbox mr-sm-2">
															<input type="checkbox" class="custom-control-input"
																id="checkbox11" value="check"> <label
																class="custom-control-label" for="checkbox11"></label>
														</div>
													</td>
													<td class="hidden-xs-down"><i class="fa fa-star-o"></i></td>
													<td class="hidden-xs-down">Akshay Kumar</td>
													<td class="max-texts"><a href="app-email-detail.html"><span
															class="label label-warning">Work</span> Lorem ipsum
															perspiciatis unde omnis iste natus error sit voluptatem</a></td>
													<td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
													<td class="text-right">May 09</td>
												</tr>
												<tr>
													<td>
														<div class="custom-control custom-checkbox mr-sm-2">
															<input type="checkbox" class="custom-control-input"
																id="checkbox12" value="check"> <label
																class="custom-control-label" for="checkbox12"></label>
														</div>
													</td>
													<td class="hidden-xs-down"><i class="fa fa-star-o"></i></td>
													<td class="hidden-xs-down">Hritik Roshan</td>
													<td class="max-texts"><a href="app-email-detail.html"><span
															class="label label-info m-r-10">Work</span> Lorem ipsum
															perspiciatis unde omnis iste natus error sit voluptatem</a></td>
													<td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
													<td class="text-right">May 09</td>
												</tr>
												<tr>
													<td>
														<div class="custom-control custom-checkbox mr-sm-2">
															<input type="checkbox" class="custom-control-input"
																id="checkbox13" value="check"> <label
																class="custom-control-label" for="checkbox13"></label>
														</div>
													</td>
													<td class="hidden-xs-down"><i
														class="fa fa-star text-warning"></i></td>
													<td class="hidden-xs-down">Genelia Roshan</td>
													<td class="max-texts"><a href="app-email-detail.html">Lorem
															ipsum perspiciatis unde omnis iste natus error sit
															voluptatem</a></td>
													<td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
													<td class="text-right">May 09</td>
												</tr>
												<tr>
													<td>
														<div class="custom-control custom-checkbox mr-sm-2">
															<input type="checkbox" class="custom-control-input"
																id="checkbox14" value="check"> <label
																class="custom-control-label" for="checkbox14"></label>
														</div>
													</td>
													<td class="hidden-xs-down"><i class="fa fa-star-o"></i></td>
													<td class="hidden-xs-down">Ritesh Deshmukh</td>
													<td class="max-texts"><a href="app-email-detail.html"><span
															class="label label-success">Elite</span> Lorem ipsum
															perspiciatis unde omnis iste natus error sit voluptatem</a></td>
													<td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
													<td class="text-right">May 09</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
