<section layout:fragment="content" layout:decorate="~{/fragmentos/layout}">
	<div class="container-fluid">
		<!-- INICIO TITULO DA PÁGINA -->
		<div class="row page-titles">
			<div class="col-md-5 align-self-center">
				<h4 class="text-themecolor">CRIAR NOVA MENSAGEM</h4>
			</div>
			<div class="col-md-7 align-self-center text-right">
				<div class="d-flex justify-content-end align-items-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Início</a></li>
						<li class="breadcrumb-item"><a href="./entrada">Mensagens</a></li>
						<li class="breadcrumb-item active">NOVA</li>
					</ol>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="row">
						
						<div class="col-xlg-12 col-lg-12 col-md-12 bg-light border-left">
							<form id="formNovaNotificacao" class="form-servidor" th:object="${mensagem}" th:action="@{/cadastrarMensagem}" method="POST" >
							    <div class="card-body">
									<h3 class="card-title">Nova Mensagem</h3>
									
									<div class="row">
										<div class="form-group col-6">
											<label for="listaGrupo">Grupos de Destinatários:</label>
											<select id="listaGrupo"  class="form-control selectpicker" title="Envio por grupos de usuários ..." data-actions-box="true" data-live-search="true" multiple="multiple">
												<option th:each="_grupo : ${listaGrupos}" th:value="${_grupo.id}" th:text="${_grupo.nome}"></option>
											</select>
<!-- 											<div th:if="${#fields.hasErrors('listaGrupo')}" th:errors="*{listaGrupo}" class="help-block">error</div>									 -->
										</div>
										
										<div class="form-group col-6">
											<label for="listaUsuario">Usuários:</label>
											<select id="listaUsuario" name="listaUsuario" class="form-control selectpicker" title="Destinatários ..." data-actions-box="true" data-live-search="true" multiple="multiple">
												<option th:each="_usuario : ${listaUsuarios}" th:id="${{_usuario.id}}" th:value="${{_usuario.id}}" th:text="${_usuario.servidor.nome}"></option>
											</select>
<!-- 											<div th:if="${#fields.hasErrors('listaUsuario')}" th:errors="*{listaUsuario}" class="help-block">error</div> -->
										</div>
										
										<div class="form-group col-12">
											<label>Assunto</label>
										    <input id="assunto"  class="form-control" th:field="*{assunto}" th:classappend="${#fields.hasErrors('*')} ? 'is-invalid'" required placeholder="Assunto:">
										</div>
										
										<div class="form-group col-12">
											<label for="mensagem">Mensagem</label>
											<textarea id="mensagem" class="form-control" th:field="*{mensagem}" th:classappend="${#fields.hasErrors('*')} ? 'is-invalid'" placeholder="Insira sua mensagem..." rows="15" required></textarea>
										</div>
										
										<div class="form-group col-6">
											<label for="criador">Criador</label>
											<input id="criador" class="form-control" th:field="*{emissor}" th:value="${emissor}" th:classappend="${#fields.hasErrors('*')} ? 'is-invalid'" required></input>
											
										</div>
										
										<div class="form-group col-6">
											<label>Data Atual</label>
											<input id="dataCriacao" type="datetime-local" class="form-control" th:text="*{dataCriacao}" th:classappend="${#fields.hasErrors('*')} ? 'is-invalid'" required></input>
										</div>
									
									</div>
									
									<button type="submit" class="btn btn-success m-t-20"><i class="fa fa-envelope-o"></i> Enviar</button>
									<button class="btn btn-dark m-t-20"><i class="fa fa-times"></i> Descartar</button>
							    </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
