<section layout:fragment="content" layout:decorate="~{/fragmentos/layout}">
	<div class="container-fluid">
		<!-- INICIO TITULO DA PÁGINA -->
		<div class="row page-titles">
			<div class="col-md-5 align-self-center">
				<h4 class="text-themecolor">CRIAR NOVA MENSAGEM</h4>
			</div>
			<div class="col-md-7 align-self-center text-right">
				<div class="d-flex justify-content-end align-items-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Início</a></li>
						<li class="breadcrumb-item"><a href="./entrada">Mensagens</a></li>
						<li class="breadcrumb-item active">NOVA</li>
					</ol>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="row">
						
						<div class="col-xlg-12 col-lg-12 col-md-12 bg-light border-left">
							<form id="formNovaNotificacao" class="form-servidor" th:object="${novaMensagem}" th:action="@{/cadastrarMensagem}" method="POST" >
							    <div class="card-body">
									<h3 class="card-title">Nova Mensagem</h3>
									
									<div class="row">
									
										<div class="table-responsive-md" th:if="${#fields.hasErrors('*')}">
											<h6>Atenção, corrija os erros sinalizados abaixo:</h6>
											<div class="alert alert-danger" role="alert">
												<ul><li th:each = "err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li></ul>
											</div>								
										</div> <!-- Erros -->
									
										<div class="form-group col-6">
											<label for="listaGrupo">Grupos de Destinatários:</label>
											<select id="listaGrupo"  class="form-control selectpicker" title="Envio por grupos de usuários ..." data-actions-box="true" data-live-search="true" multiple="multiple">
												<option th:each="_grupo : ${listaGrupos}" th:value="${_grupo.id}" th:text="${_grupo.nome}"></option>
											</select>
										</div>
										
										<div class="form-group col-6" th:classappend="${#fields.hasErrors('destinatarios')} ? 'is-invalid'">
											<label for="destinatarios">Usuários:</label>
											<select id="destinatarios" name="destinatarios" th:field="*{destinatarios}" class="form-control selectpicker" title="Destinatários ..." data-actions-box="true" data-live-search="true" multiple="multiple" required="true">
												<option th:each="_usuario : ${listaUsuarios}" th:value="${{_usuario.id}}" th:text="${{_usuario.servidor.nome}}"></option>
											</select>
											<span class="fv-help-block" th:if="${#fields.hasErrors('destinatarios')}" th:errors="*{destinatarios}"></span>
										</div>

										<div class="form-group col-12" th:classappend="${#fields.hasErrors('assunto')} ? 'is-invalid'">
											<label>Assunto</label>
										    <input type="text" id="assunto" class="form-control" th:field="*{assunto}" th:value="${assunto}" required placeholder="Assunto:">
											<span class="fv-help-block" th:if="${#fields.hasErrors('assunto')}" th:errors="*{assunto}"></span>
										</div>
										
										<div class="form-group col-12" th:classappend="${#fields.hasErrors('mensagem')} ? 'is-invalid'">
											<label for="mensagem">Mensagem</label>
											<textarea id="mensagem" class="form-control" th:field="*{mensagem}" th:value="${mensagem}" placeholder="Insira sua mensagem..." rows="15" required></textarea>
											<span class="fv-help-block" th:if="${#fields.hasErrors('mensagem')}" th:errors="*{mensagem}"></span>
										</div>
										
										<div class="form-group col-6 d-none" th:classappend="${#fields.hasErrors('*{emissor}')} ? 'is-invalid'">
											<label for="emissor">Criador</label>
											<input id="emissor" class="form-control" th:field="*{emissor}" required></input>
											<span class="fv-help-block" th:if="${#fields.hasErrors('emissor')}" th:errors="*{emissor}"></span>
										</div>
										
										<div class="form-group col-6 d-none" th:classappend="${#fields.hasErrors('dataCriacao')} ? 'is-invalid'">
											<label>Data Atual</label>
											<input id="dataCriacao" type="text" name="dataCriacao" readonly class="form-control input-group" th:value="${#temporals.format(dataCriacao, 'dd/MM/yyyy HH:mm:ss')}" th:field="*{{dataCriacao}}" autocomplete="off" required>
											<span class="fv-help-block" th:if="${#fields.hasErrors('dataCriacao')}" th:errors="*{dataCriacao}"></span>
										</div>
									
									</div>
									
									<button type="submit" class="btn btn-success m-t-20"><i class="fa fa-envelope-o"></i> Enviar</button>
									<button class="btn btn-dark m-t-20"><i class="fa fa-times"></i> Descartar</button>
							    </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
