<section layout:fragment="content"layout:decorate="~{/fragmentos/layout}">
	<main>
		<div class="container-fluid">
			<!-- INICIO TITULO DA PÁGINA -->
			<div class="row page-titles">
				<div class="col-md-5 align-self-center">
					<h4 class="text-themecolor">EDIÇÃO</h4>
				</div>
				<div class="col-md-7 align-self-center text-right">
					<div class="d-flex justify-content-end align-items-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item"><a href="javascript:void(0)">Histórico Servidores Externos</a></li>
							<li class="breadcrumb-item active">Edita Servidor Externo</li>
						</ol>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<form id="formServidorExterno" name="form1" class="form-servidor" th:object="${servidor}" th:action="@{~/admin/salva/edicao/ServidorExterno}" method="POST">
						<div class="ribbon-wrapper card">
							<div class="ribbon ribbon-info">SERVIDOR EXTERNO</div>
								<div class="table-responsive-md" th:if="${#fields.hasErrors('*')}">
								<h6>Atenção, corrija os erros sinalizados abaixo</h6>
								<div class="alert alert-danger" role="alert">
									<ul>
										<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
									</ul>
								</div>
							</div>

							<div class="table-responsive-md" th:if="${aviso}">
								<h6>Atenção, corrija os erros sinalizados abaixo</h6>
								<div class="alert alert-danger" role="alert">
									<span th:text="${mensagem}"></span>
								</div>
							</div>

							<br th:if="${#fields.hasErrors('*')}">
							<div class="form-group">
								<div class="form-row">
									<div class="form-group col-md-1" th:if="${edicao}">
										<label for="id">Id</label> 
										<input id="id" name="id"	type="text" class="form-control form-control-sm" th:field="*{id}" th:value="${id}" readonly="readonly">
									</div>

									<div class="form-group col-md-2">
										<label for="matricula">Matricula</label> 
										<input id="matricula" name="matricula" type="text" class="form-control form-control-sm" th:field="*{matricula}" th:value="${matricula}" required>
									</div>

									<div class="form-group col-md-5">
										<label for="nome">Nome Completo</label> 
										<input id="nome" name="nome" type="text" class="form-control form-control-sm" th:field="*{nome}" autocomplete="off" th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" onkeyup="maiuscula(this);" required> <span class="fv-help-block" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
									</div>
									<div class="form-group col-md-2">
										<label for="instituicao">Instituição</label> 
										<select	id="instituicao" name="instituicao" class="form-control form-control-sm" th:field="*{instituicao}" th:classappend="${#fields.hasErrors('instituicao')} ? 'is-invalid'" required>
											<option value="">Selecionar</option>
											<option th:each="_instituicao : ${instituicoes}" th:value="${{_instituicao.id}}" th:text="${_instituicao.nome}"></option>
										</select>
									</div>
									<span class="fv-help-block"	th:if="${#fields.hasErrors('instituicao')}"	th:errors="*{instituicao}"></span>

									<div class="form-group col-md-2">
										<label for="hierarquia">Grau Hierárquico</label> 
										<select	id="hierarquia" name="hierarquia" class="form-control form-control-sm" th:field="*{hierarquia}"	th:classappend="${#fields.hasErrors('hierarquia')} ? 'is-invalid'" required>
											<option value="">Selecionar</option>
											<option th:each="_hierarquia : ${hierarquias}" th:text="${_hierarquia.nome}" th:value="${{_hierarquia.id}}"></option>
										</select> 
										<span class="fv-help-block" th:if="${#fields.hasErrors('hierarquia')}" th:errors="*{hierarquia}"></span>
									</div>
								</div>
								<button type="submit" class="btn btn-info">Salvar Modificações</button>
								<a href="/admin/historico/servidoresExternos" class="btn btn-info">Cancelar</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
</section>