<section layout:fragment="content" layout:decorate="~{/fragmentos/layout}">
	<main>
		<div class="container-fluid">
			<div class="row page-titles">
				<div class="col-md-5 align-self-center">
				    <h4 class="text-themecolor">REGISTRO DE OCORRÊNCIAS</h4>
				</div>
				<div class="col-md-7 align-self-center text-right">
				    <div class="d-flex justify-content-end align-items-center">
				        <ol class="breadcrumb">
				            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
				            <li class="breadcrumb-item"><a href="javascript:void(0)">Histórico Ocorrências</a></li>
				            <li class="breadcrumb-item active">Registro Ocorrências</li>
				        </ol>
				    </div>
				</div>
			</div>
		
	       	<div class="row">
			<div class="col-12">
				<div class="ribbon-wrapper card">
					<div class="table-responsive m-t-40">
						<table id="tabela-registro-ocorrencia" class="table table-bordered text-center table-striped dt-responsive"	cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>SIC</th>
									<th>Data Ocorrencia</th>
									<th>Tipificação</th>
									<th>Cidade</th>
									<th>Localidade</th>
									<th>Bairro</th>
									<th>Ação</th>
								</tr>
							</thead>
							<tbody class="table-sm">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	</main>
</section>