<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/fragmentos/layout}">
<head>
<meta charset="UTF-8">
</head>
<section layout:fragment="content">
	<main>
	<div class="jumbotron text-center" style="margin-bottom: 0">
		<h1>Erro 404</h1>
		<p>Você não tem permissão para acessar essa funcionalidade!</p>
		<div class="row">
			<div class="col-sm-12">
				<div class="imagem-logoErro404"></div>
				<img src="/assets/imagens/404.png" class="rounded mx-auto d-block" alt="Imagem responsiva">
			</div>
		</div>

	</div>
</main>
	<script src="/assets/moments/moments.js"></script>
	<script src="/assets/moments/moment-with-locales.js"></script>
	<script src="/assets/js/jquery.mask.min.js"></script> 

</section>
</html>