<section layout:fragment="content" layout:decorate="~{/fragmentos/layout}">
	<main>
		<div class="container-fluid">
			<!-- INICIO TITULO DA PÁGINA -->
			<div class="row page-titles">
				<div class="col-md-5 align-self-center">
					<h4 class="text-themecolor">Acesso negado</h4>
				</div>
				<div class="col-md-7 align-self-center text-right">
					<div class="d-flex justify-content-end align-items-center"></div>
				</div>
			</div>

			<div class="jumbotron text-center" style="margin-bottom: 0">
				<h1>Atenção</h1>
				<p>Você não tem permissão para acessar essa funcionalidade!</p>
				<div class="row">
					<div class="col-sm-12">
						<div class="imagem-logoErro404"></div>
						<img src="/assets/imagens/404.png" class="rounded mx-auto d-block" alt="Imagem responsiva">
					</div>
				</div>
		
			</div>
			<!-- container -->
		</div>
	</main>
</section>
