<section layout:fragment="content" layout:decorate="~{/fragmentos/layout}">
	<div class="container-fluid">
		<!-- INICIO TITULO DA PÁGINA -->
		<div class="row page-titles" sec:authorize="not hasAuthority('MASTER')">
			<div class="col-md-5 align-self-center">
			    <h4 class="text-themecolor"> Dashboard</h4>
			    <span class="alert-danger" th:if="${usuario.estabelecimento.size() > 1}"> Selecione um novo estabelecimento </span>
			</div>
			<div class="col-md-7 align-self-center text-right">
			    <div class="d-flex justify-content-end align-items-center">
			        <ol class="breadcrumb">
			            <li class="breadcrumb-item"><a href="javascript:void(0)">Início</a></li>
			            <li class="breadcrumb-item active">Dashboard - Efetivo</li>
			        </ol>
			        <button type="button" class="btn btn-info d-none d-lg-block m-l-15" data-toggle="modal" data-target="#modal-escolher-estabelecimento" th:if="${usuario.estabelecimento.size() > 1}"><i class="ti-settings"></i></button>
			    </div>
			</div>
			
			<div id="modal-escolher-estabelecimento" class="modal fade" data-backdrop="static">
				<div class="modal-dialog">
					<div class="modal-content">
						<form id="formGraficosDashboard" th:action="@{/admin/home/grafico/ocorrencia}" method="POST">
							<div class="modal-header">
								<h4 class="modal-title">Configuração Dashboard</h4>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label for="estabelecimento" class="col-form-label">SELECIONE O ESTABELECIMENTO:</label>
									<select id="estabelecimento" name="estabelecimento" class="custom-select" required>
										<option value="">SELECIONE</option>
										<option th:each="_estabelecimento: ${usuario.estabelecimento}" th:value="${{_estabelecimento.id}}" th:if="${estabelecimento} != null" th:selected="${_estabelecimento.id == estabelecimento.id}" th:text="${_estabelecimento.nome}"></option>
										<option th:each="_estabelecimento: ${estabelecimentos}" th:value="${{_estabelecimento.id}}" th:if="${estabelecimento} == null" th:text="${_estabelecimento.nome}"></option>
									</select>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">FECHAR</button>
								<button type="submit" name="salvar" class="btn btn-success waves-effect waves-light">SALVAR</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	
<!-- 		<div id="painel-efetivo" class="owl-carousel owl-theme"></div> -->
		<div  id="painel-efetivo" class="carousel slide" data-ride="carousel">
			<div id="painel-itens" class="carousel-inner">
			</div>
		</div>
		
		<input id="identificador" type="text" th:value="${estabelecimento.id} == null ? ${usuario.estabelecimento.get(0).id} : ${estabelecimento.id}" hidden/>
		
	</div>
</section>
