<th:block th:fragment="script-notificacao">
<!-- ============================================================== -->
    <!-- Estes são plugins necessários no projeto para a tela de Cadastro de Novas Notificações -->
    <!-- ============================================================== -->   
    <script src="/assets/multi-select/js/bootstrap-select.js"></script>
               
	<script src="/assets/multiselect/dist/js/multiselect.js"></script>

	<script src="/assets/js/validador/form-novaNotificacao.js"></script>
	
</th:block>