<th:block th:fragment="script-tipoServico">
<!-- ============================================================== -->
   
    <!-- ============================================================== -->   
    <!-- FormValidate -->
	<script src="/assets/formvalidation/dist/js/FormValidation.full.js"></script>
	<script src="/assets/formvalidation/dist/js/plugins/Bootstrap.js"></script>
	<script src="/assets/formvalidation/dist/js/locales/pt_BR.min.js"></script>
	
	<!-- TinyMCE -->
	<script src="/assets/tinymce/js/tinymce/jquery.tinymce.min.js"></script>
	<script src="/assets/tinymce/js/tinymce/tinymce.min.js"></script>
	
	<!-- DateTimePicker -->
	<script src="/assets/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	
	<!-- Multi Select -->
	<script src="/assets/multi-select/js/bootstrap-select.min.js"></script>
		
	<script src="/assets/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	
	<script src="/assets/js/jquery.mask.min.js"></script> 
	
	</th:block>