<th:block th:fragment="script-editaEfetivoExterno">
<!-- ============================================================== -->
    <!-- Estes são plugins necessários no projeto para a tela de Cadastro de Efetivos externos -->
    <!-- ============================================================== -->   
   
	  <!-- Plugin de data -->
	<script src="/assets/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/assets/datetimepicker/locales/bootstrap-datetimepicker.pt-BR.js"></script>

	<!-- Multi Select -->
	<script src="/assets/multi-select/js/bootstrap-select.min.js"></script>
    
    <script src="/assets/js/validador/form-efetivo-externo.js"></script>

	<!-- DataTableJS -->
	<script src="/assets/DataTables/js/jquery.dataTables.min.js"></script>
	<script src="/assets/DataTables/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">$('[data-toggle="tooltip"]').tooltip();</script>
        
 

</th:block>