<th:block th:fragment="script-editaMesa">
<!-- ============================================================== -->
    <!-- Estes são plugins necessários no projeto para a tela de Cadastro de Novas Ocorrencia -->
    <!-- ============================================================== -->   
   
 	<!-- Máscara -->
    <script src="/assets/js/jquery.mask.min.js"></script> 
    
    <!-- Plugin de data -->
	<script src="/assets/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/assets/datetimepicker/locales/bootstrap-datetimepicker.pt-BR.js"></script>
 
    <!-- FormValidate -->
	<script src="/assets/formvalidation/dist/js/FormValidation.full.js"></script>
	<script src="/assets/formvalidation/dist/js/plugins/Bootstrap.js"></script>
	<script src="/assets/formvalidation/dist/js/locales/pt_BR.min.js"></script>
	
	<!-- Multi Select -->
	<script src="/assets/multi-select/js/bootstrap-select.min.js"></script>

	<!-- DataTableJS -->
	<script src="/assets/DataTables/js/jquery.dataTables.min.js"></script>
	<script src="/assets/DataTables/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">$('[data-toggle="tooltip"]').tooltip();</script>

	<script src="/assets/js/validador/form-editaMesa.js"></script>

</th:block>