<th:block th:fragment="script-ocorrencia">
	<!-- DataTableJS -->
	 <script src="/assets/DataTables/js/jquery.dataTables.min.js"></script>
	 
	
	 <script src="/assets/DataTables/js/dataTables.bootstrap4.min.js"></script> 

    <!--FormValidate
	<script src="/assets/formvalidation/dist/js/FormValidation.full.js"></script>
	<script src="/assets/formvalidation/dist/js/plugins/Bootstrap.js"></script>
	<script src="/assets/formvalidation/dist/js/locales/pt_BR.min.js"></script>-->

	
	
	<script src="/assets/multi-select/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="/assets/moments/moments.js"></script>
	<script type="text/javascript" src="/assets/moments/moment-with-locales.js"></script>

	<script src="/assets/js/validador/form-pesquisaOcorrencias.js"></script>
	<script src="/assets/js/validador/form-validaCPF.js"></script>
<!-- 	<script src="/assets/js/tabelas/tab-resultadoPesquisaOcorrencia.js"></script>
 -->	
</th:block>
