<th:block th:fragment="script-ocorrencia">
<!-- ============================================================== -->
    <!-- Plugins necessários para a tela do DashBoard Ocorrencia -->
    <!-- ============================================================== -->   
    
	<!-- Echarts -->
	<script src="/assets/echarts/dist/echarts.js"></script>
	<script src="/assets/echarts/dist/echarts-en.js"></script>
	<script src="/assets/echarts/dist/extension/dataTool.js"></script>
	<script src="/assets/echarts/dist/extension/bmap.js"></script>
	
	<!-- EASY PIE CHART JS -->
    <script src="/assets/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
    
    <!-- OWL-CAROUSEL 2 -->
	<script src="/assets/OwlCarousel/dist/owl.carousel.js"></script>
	<script src="/assets/OwlCarousel/dist/owl.rows.js"></script>
	
	<!-- Customização -->
	<script src="/assets/js/grafico-ocorrencia.js"></script>
	<script src="/assets/js/refreshDashboard.js"></script>
				
	<script th:inline="javascript" th:if="${usuario.servidor != null}">
		geradorDeGraficosDashboard([[${estabelecimento.id} == null? ${usuario.servidor.estabelecimento.id}:${estabelecimento.id} ]]);
	</script>
	
	 <!-- Para Usuário MASTER - Exibição nas TVs -->
	<script th:inline="javascript" th:if="${usuario.servidor == null}">
		geradorDeGraficosDashboard([[${usuario.getEstabelecimento().get(0).getId()} ]]);
	</script>
	</th:block>