<th:block th:fragment="script-dadosEstatisticos">
<!-- ============================================================== -->
    <!-- Estes são plugins necessários no projeto para a tela de Dados Estatistico -->
    <!-- ============================================================== -->   
    <!-- FormValidate -->


	<script src="/assets/formvalidation/dist/js/plugins/StartEndDate.min.js"></script>
		
	<!-- Multi Select -->
	<script src="/assets/multi-select/js/bootstrap-select.min.js"></script>
		
	<script src="/assets/js/validador/form-GerarDadosEstatisticos.js"></script>
	<script>
	
	mostrarGrafico()</script>
	
	



</th:block>