<th:block th:fragment="script-tabela-caracteristicas">
	<!-- ============================================================== -->
    <!-- Estes são plugins necessários no projeto para a tela da Tabela de Caracteristicas -->
    <!-- ============================================================== -->
	
	<!-- DataTableJS -->
	<script src="/assets/DataTables/js/jquery.dataTables.min.js"></script>
	<script src="/assets/DataTables/js/dataTables.bootstrap4.min.js"></script>


    <!-- Necessário para o DataTableJS Spring -->
    <script src="/assets/datatables1/jquery.spring-friendly.js"></script>
    
	<script src="/assets/js/tabelas/tab-historicoCaracteristicas.js"></script>
	
	</th:block>