<th:block th:fragment="tabela-ocorrencias">
	<!-- ============================================================== -->
    <!-- Estes são plugins necessários no projeto para a tela da Tabela de Ocorrencias -->
    <!-- ============================================================== -->

	<!-- DataTableJS -->
<!-- 	<script src="/assets/DataTables/js/jquery.dataTables.min.js"></script> -->
<!-- 	<script src="/assets/DataTables/js/dataTables.bootstrap4.min.js"></script> -->
    
	<!-- Multi Select -->
	<script src="/assets/multi-select/js/bootstrap-select.min.js"></script>
	
	<script type="text/javascript" src="/assets/moments/moments.js"></script>
	<script type="text/javascript" src="/assets/moments/moment-with-locales.js"></script>
	

    <!-- Necessário para o DataTableJS Spring -->
   <!--  <script src="/assets/datatables1/jquery.spring-friendly.js"></script> -->
	
	<script src="/assets/js/tabelas/tab-historicoOcorrencia.js"></script>

</th:block>
	