<th:block th:fragment="tabela-permissoes">
	<!-- ============================================================== -->
    
    <!-- ============================================================== -->
	
	<!-- DataTableJS -->
	<script src="/assets/DataTables/js/jquery.dataTables.min.js"></script>
	<script src="/assets/DataTables/js/dataTables.bootstrap4.min.js"></script>
	
	<!-- Moments -->
	<script src="/assets/moments/moments.js"></script>
    <script src="/assets/moments/moment-with-locales.js"></script>
    
    <!-- Necessário para o DataTableJS Spring -->
    <script src="/assets/datatables1/jquery.spring-friendly.js"></script>
    
	<script src="/assets/js/tabelas/tab-historicoPermissao.js"></script>
	<script src="/assets/js/validador/form-permissao.js"></script>
		
</th:block>
	