<th:block th:fragment="tabela-grupos">
	<!-- ============================================================== -->
    
    <!-- ============================================================== -->
	
	<!-- DataTableJS -->
	<!-- <script src="/assets/DataTables/js/jquery.dataTables.min.js"></script>
	<script src="/assets/DataTables/js/dataTables.bootstrap4.min.js"></script>
	
	
    Necessário para o DataTableJS Spring
    <script src="/assets/datatables1/jquery.spring-friendly.js"></script>
     -->
	<script src="/assets/js/tabelas/tab-historicoGrupo.js"></script>
	
		
</th:block>
	