<th:block th:fragment="script-visualiza-mesa">
<!-- ============================================================== -->
    <!-- Estes são plugins necessários no projeto para a tela de Cadastro de Novas Ocorrencia -->
    <!-- ============================================================== -->   
    <script src="/assets/js/jquery-3.3.1.min.js" type="text/javascript"></script>
   
 	<script type="text/javascript">$('[data-toggle="tooltip"]').tooltip();</script>
 		
	<script src="/assets/js/validador/form-visualizaMesa.js"></script>

</th:block>