<th:block th:fragment="css-violenciaContraAMulher">
	<!--==========================
    		 CSS VIOLÊNCIA CONTRA A MULHER
    ============================ -->
	<!-- CSS Multi-Select-->
	<link href="/assets/multi-select/css/bootstrap-select.css" rel="stylesheet">

	<link rel="stylesheet" href="/assets/formvalidation/dist/css/formValidation.min.css" >
	
	<link rel="stylesheet" href="/assets/datetimepicker/css/bootstrap-datetimepicker.min.css">
  	
  	<link rel="stylesheet" href="/assets/formvalidation/dist/css/formValidation.min.css" >

</th:block>