<th:block th:fragment="css-perfilCvli">
	<!--==========================
    		 CSS PERFIL CVLI
    ============================ -->
	<!-- CSS Multi-Select-->
	<link href="/assets/multi-select/css/bootstrap-select.css" rel="stylesheet">

	<!-- page css -->
	<link href="/assets/css-chart/css-chart.css" rel="stylesheet">

	<link href="/assets/css/pages/easy-pie-chart.css" rel="stylesheet">

<!-- Dashboard 1 Page CSS 
	<link href="/assets/css/dashboard.css" rel="stylesheet">
	 -->
	<link rel="stylesheet" href="/assets/formvalidation/dist/css/formValidation.min.css" >
	
	<link rel="stylesheet" href="/assets/datetimepicker/css/bootstrap-datetimepicker.min.css">

	</th:block>