<th:block th:fragment="css-efetivo">
	<!--==========================
    		 CSS DASHBOARD - EFETIVO
    ============================ -->
	<link href="/assets/datatables1/media/css/dataTables.bootstrap4.css" rel="stylesheet">
	
	<!-- Dashboard 1 Page CSS -->
	<link href="/assets/css/dashboard.css" rel="stylesheet">

	<!-- OwlCarousel -->
	<link rel="stylesheet" href="/assets/OwlCarousel/dist/assets/owl.carousel.css">
	<link rel="stylesheet" href="/assets/OwlCarousel/dist/assets/owl.theme.default.css">
	<link rel="stylesheet" href="/assets/icons/material-design-iconic-font/css/materialdesignicons.min.css">
	</th:block>