<th:block th:fragment="css-pesquisa-ocorrencia">
    <!-- FormValidateJS -->
	<!-- <link rel="stylesheet" href="/assets/formvalidation/dist/css/formValidation.min.css" > --> 
	<link rel="stylesheet" href="/assets/icons/material-design-iconic-font/css/materialdesignicons.min.css">
	<!-- <link rel="stylesheet" href="/assets/css/jquery.dataTables.min.css"> -->
    <!-- FormValidateJS -->
	<link rel="stylesheet" href="/assets/formvalidation/dist/css/formValidation.min.css" >
	
	<!-- DataTableJS -->
	<link rel="stylesheet" href="/assets/DataTables/css/dataTables.bootstrap4.css">


</th:block>