<th:block th:fragment="css-tabela-dadosEstatistico">
	<!--==========================
    		 CSS TABELA DE DADOS ESTATISTICOS
    ============================ -->
    <!-- FormValidateJS -->
	<!-- <link rel="stylesheet" href="/assets/formvalidation/dist/css/formValidation.min.css" > -->
	
	<!-- DataTableJS -->
	<!-- <link rel="stylesheet" href="/assets/DataTables/css/dataTables.bootstrap4.css"> -->
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
	
</th:block>