<th:block th:fragment="css-tabela-servidores">
	<!--==========================
    		 CSS TABELA DE SERVIDORES
    ============================ -->
    <!-- FormValidateJS -->
	<link rel="stylesheet" href="/assets/formvalidation/dist/css/formValidation.min.css" >
	
	<!-- DataTableJS -->
	<link rel="stylesheet" href="/assets/DataTables/css/dataTables.bootstrap4.css">
	
	<!-- Plugin Data e Hora -->
    <link rel="stylesheet" href="/assets/datetimepicker/css/bootstrap-datetimepicker.min.css"/>
    
	
	</th:block>