<!-- MODAL DE RETORNO DO SISTEMA -->
<div class="modal fade" id="modal-mensagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" th:fragment="modalMensagem">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Aviso</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="alert alert-info">
					[[${mensagem.mensagem}]]
				</p>
			</div>
			<div class="modal-footer">
				<a th:href="@{{link}(link=${mensagem.link})}" type="btn btn-info"  class="btn btn-primary">Ok</a>
			</div>
		</div>
	</div>
</div>
