<section layout:fragment="content" layout:decorate="~{/fragmentos/layout}">
	<main >
		<div class="container-fluid">
			<!-- INICIO TITULO DA PÁGINA -->
			<div class="row page-titles">
				<div class="col-md-5 align-self-center">
				    <!-- <h4 class="text-themecolor">SERVIDORES</h4> -->
				</div>
				<div class="col-md-7 align-self-center text-right">
				    <div class="d-flex justify-content-end align-items-center">
				        <ol class="breadcrumb">
				            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
				            <li class="breadcrumb-item"><a href="javascript:void(0)">Visualizar</a></li>
				            <li class="breadcrumb-item active">Vizualizar Servidores</li>
				        </ol>
				    </div>
				</div>
			</div>
		
			<div class="row">					
				<div class="col-12">
					<div class="ribbon-wrapper card">	
					<div class="ribbon ribbon-info">SERVIDORES</div>
						<div class="table-responsive-m-t-40">
							<table id="tabela-servidor-paginada" class="text-center table table-sm table-bordered table-striped dt-responsive" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th scope="col">GH</th>
										<th scope="col">Instituição</th>
										<th scope="col">Nome</th>											
										<th scope="col">Função</th>
										<th scope="col">Matricula</th>										
									</tr>
								</thead>
							    <tbody>										
									<tr th:each="_servidor : ${servidores}" th:classappend="${_servidor.ativo} ? table-default : table-danger">
										<td th:text="${#strings.capitalize(_servidor.hierarquia.nome)}"></td>
										<td th:text="${#strings.capitalize(_servidor.instituicao.nome)}"></td>	
										<td th:text="${_servidor.nome}"></td>
										<td th:text="${_servidor.funcao.nome}"></td>											
										<td th:text="${_servidor.matricula}"></td>											
									</tr>
								</tbody>	
							</table>
						</div>	
						<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
	                  		<div class="btn-group mr-2" role="group">
	                 			<a class="btn btn-info" th:href="@{~/admin/historico/servidores}" th:inline="text" >Voltar</a>		
	                 		</div>
	                    </div>
					</div><!-- ribbon-wrapper conteudo-->								
				</div>					
			</div><!-- Row 1 -->
		</div><!-- Container -->
	</main>
</section>
